<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <input id="new-todo" placeholder="What needs to be done?" autofocus data-bind="value: newTaskInput, enterKey: addItem">
  </header>

  <section id="main" data-bind="visible: isVisible()">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list" data-bind="foreach: filteredItems">
      <li data-bind="css { completed: completed(), editing: editing() }">
        <div class="view">
          <input class="toggle" type="checkbox" data-bind="checked: completed">
          <label data-bind="text: title, event: { dblclick: $root.editItem }"></label>
          <button class="destroy" data-bind="click: $root.removeItem"></button>
        </div>
        <input class="edit" data-bind="textInput: title, enterKey: $root.saveEditedItem, event: { blur: $root.saveEditedItem }, escapeKey: $root.cancelEditingItem">
      </li>
    </ul>
  </section>

  <footer id="footer" data-bind="visible: isVisible()">
    <span id="todo-count">
      <strong data-bind="text: numberIncomplete()"></strong>
      <span data-bind="text: itemCountText()"></span>
      left
    </span>
    <ul id="filters">
      <li>
        <a data-bind="css: { selected: 'all' == filterBy() }" href="#/all">All</a>
      </li>
      <li>
        <a data-bind="css: { selected: 'active' == filterBy() }" href="#/active">Active</a>
      </li>
      <li>
        <a data-bind="css: { selected: 'completed' == filterBy() }" href="#/completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" data-bind="visible: numberCompleted() > 0, click: removeCompleted">
      Clear completed (<span data-bind="text: numberCompleted()"></span>)
    </button>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>
